*{
    margin:0;
    padding:0;
}

body{
    background-color:rgba(245,245,245);
}

div.first{
    text-align:center;
    margin-left:auto:
    margin-right:auto;
    width:100%;
    position:fixed;
    padding-top: 10px;
    background: rgba(245,245,245);
    border-bottom: 1px groove rgba(0,0,0,0.1);
    z-index:9999;
    height:30px;
    
}

img.amgo{
    position:relative;
    height:30px;
    vertical-align:middle;
    margin-right:auto;
    margin-left:-275px;
    
}
h5.l{
    position:relative;
    display:inline-block;
    vertical-align:middle;
    margin-top:-50px;
    margin-left:175px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight:100;
}

a.au, a.pq, a.cu{
    margin-left: 3px;
    margin-right: 3px;
    text-decoration:none;
    color: black;
}

a:hover{
    color: rgba(119,152,183);
}

div.bg{
    width:100%;
    margin:0;
    position:relative;
    top:0px;
    padding-top:10px;
    background:rgba(255,255,255);
}

div.info{
    top:100px;
    position:relative;
    margin-left:auto;
    margin-right:auto;
    width:80%;
}

p.start{
    letter-spacing:1px;
    display:inline;
    line-height:20px;
    font-family:"Apercu-medium";
    font-size:20px;
    color: black;
}

p.rest{
    font-size:12px;
    font-family:"Roboto thin", sans-serif;
    font-weight:100;
    text-align:center;
    color:rgba(120,120,120);
}

div.formbutton{
    position:relative;
    top:125px;
    margin-left:auto;
    margin-right:auto;
    width:20%;
}

button.lm{
    font-size:8px;
    font-family:"Apercu-medium";
    border-radius:15px;
    border:none;
    padding:10px;
    background-color:orange;
    width:100%;
    color:rgba(255,255,255);
}

div.image{
    width:100%;
    margin-left:auto;
    margin-right:auto;
    margin-top:125px;
    position:relative;
    margin-bottom:-22px;
}

img.hero{
    width:100%;
    height:250px;
}

div.frm{
    margin-left:auto;
    margin-right:auto;
    width:100%;
    position:relative;
}

h2.signup{
    width:80%;
    text-align:center;
    font-family:"Apercu-medium";
    font-size:20px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:20px;
    color:rgba(0,0,0);
}

div.lbl{
    position:relative;
    margin-left:auto;
    margin-right:auto;
}

input.lbl{
    display:inline-block;
    border:1px solid rgba(0,0,0);
    background:none;
    font-size:12px;
    font-family:"Roboto thin", sans-serif;
    z-index:9998;
}

input[type=text]:focus{
    background-color:rgba(255,255,255,0.5);
}

div.button{
    position:relative;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    width:25%;
}

button.submit{
    font-size:12px;
    font-family:"Apercu-medium";
    border-radius:15px;
    border:none;
    padding:5px;
    background-color:orange;
    width:100%;
    color:rgba(255,255,255);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:rgba(120,120,120);
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:rgba(120,120,120);
}

::-ms-input-placeholder { /* Microsoft Edge */
    color:rgba(120,120,120);
}

div.product{
    position:relative;
    margin-left:auto;
    margin-right:auto;
    width:100%;
    top:10px;
}

div.heading{
    position:relative;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}
h1.heading{
    font-size:30px;
    font-family:"Apercu";
    letter-spacing:1px;
}

div.toy{
    width:100%;
    position:relative;
}

div.toy1{
    vertical-align:middle;
    margin-bottom:100px;
    text-align:left;
    margin-right:auto;
    margin-left:auto;
    width:60%;
    margin-top:20px;
}

h1.kid{
    letter-spacing:1px;
    font-family:"Apercu";
    font-size:20px;
}

p.kid{
    font-size:12px;
    font-family:"Roboto thin", sans-serif;
    font-weight:100;
    color:rgba(120,120,120);
}

div.toy2{
    width:100%;
    margin-left:auto;
    margin-right:auto;
    margin-top:-75px;
    vertical-align:middle;
    position:relative;
    display:inline-block;
}

img.toy2{
    margin-left:100px;
    margin-right:auto;
    height:150px;
}

div.app{
    margin-left:auto;
    margin-right:auto;
    position:relative;
}

div.app1{
    position:relative;
    vertical-align:middle;
    text-align:left;
    margin-right:auto;
    margin-left:auto;
    width:60%;
    margin-top:75px;
}

h1.parent{
    letter-spacing:1px;
    font-family:"Apercu";
    font-size:20px;
}

p.parent{
    
    font-size:12px;
    font-family:"Roboto thin", sans-serif;
    font-weight:100;
    color:rgba(120,120,120);
}

div.app2{
    margin-top:40px;
    margin-left:auto;
    margin-right:auto;
    vertical-align:middle;
    position:relative;
    display:inline-block;
}
img.p1{
    margin-left:75px;
    margin-right:auto;
    height:200px;
}

img.p2{
    margin-left:20px;
    margin-right:auto;
    height:200px;
}

div.last{
    text-align:left;
    height:100px;
    margin-left:auto;
    margin-right:auto;
    width:100%;
    position:relative;
    top:50px;
    background-color:rgba(200,200,200);
}

div.follow{
    text-align:left;
    position:relative;
    margin-left:30px;
    margin-top:50px;
    top:20px;
}

h3.follow{
    
    font-size:15px;
    font-family:"Apercu";
}

div.logos{
    position:relative;
    margin-left:30px;
    height:20px;
    top:35px;
}
img.facebook{
    margin-left:5px;
    margin-right:5px;
    height:100%;
}

img.instagram{
    margin-left:5px;
    margin-right:5px;
    height:100%;
}

img.twitter{
    margin-left:5px;
    margin-right:5px;
    height:100%;
}

img.linkedin{
    margin-left:5px;
    margin-right:5px;
    height:100%;
}

div.eia{
    position:relative;
    top:-50px;
}
img.eia{
    height:50px;
    margin-left:275px;
}
