*{
    margin:0;
    padding:0;
}

body{
background-image: url("background.jpg");
background-repeat: no-repeat;
background-attachment: fixed;
}

div.first{
    margin-top:0px:
    margin-left:auto:
    margin-right:auto;
    width:100%;
    position:fixed;
    padding-top: 10px;
    background: rgba(255,255,255,0.9);
    z-index:9999;
   
}

img.amgo{
    display:block;
    height:100px;
    margin-left:auto;
    margin-right:auto;

}
h5.l{
    font-size: 20px;
    text-align: right;
    font-family: "optima";
}

a.au, a.pq, a.cu{
    margin-left: 15px;
    margin-right: 15px;
    text-decoration:none;
    color: rgba(253,188,89);
}

a:hover{
    color: rgba(119,152,183);
}

div.bg{
    position:relative;
    top:175px;
    background-color:rgba(129,142,180,0.7);
    padding-bottom:30px;
    padding-top:10px;
    }

div.info{
  /*  position:relative;
    top:175px;*/
  margin-left:auto;
    margin-right:auto;
    width:60%;
}

p.start{
    display:inline;
    line-height:70px;
    /*background-color:rgba(129,142,180,0.7);*/
    font-family:"helveticaneue";
    font-size:50px;
    color: rgba(255,255,255);
    padding-left:10px;
}

p.rest{
    font-size:20px;
    font-family:"helveticaneue-light";
    text-align:center;
    color:rgba(253,188,89);
}

div.formbutton{
    position:relative;
    top:20px;
    margin-left:auto;
    margin-right:auto;
    width:20%;
    border-radius:25px;
    padding-top:15px;
    padding-bottom:15px;
    background:orange;
}

h6.fb{
    text-align:center;
    vertical-align:middle;
    font-size:25px;
}

a.lm{
    text-decoration:none;
    color:white;
    font-family:"helveticaneue-light";
    font-weight:100;
}

div.frm{
    margin-left:auto;
    margin-right:auto;
    width:50%;
    position:relative;
    top:400px;
}

div.frm{
    position:relative;
    margin-top:200px;
}
h2.signup{
    text-align:center;
    font-family:"helveticaneue";
    font-size:40px;
    margin-bottom:20px;
    color:rgba(129,142,180);
    background-color:rgba(255,255,255,0.7);
}


div.lbl{
    padding:30px;
}

input.lbl{
    display:inline-block;
    border:none;
    width:100%;
    border-bottom:2px solid rgba(0,0,0,0.3);
    background:none;
    font-size:30px;
    font-family:"helveticaneue-light";
}

input[type=text]:focus{
    border:none;
    background-color:rgba(255,255,255,0.5);
}

button.submit{
    margin: 0 auto;
    font-size:20px;
    font-family:"helveticaneue-light";
    border-radius:15px;
    border:none;
    padding:15px;
    display:block;
    background-color:orange;
    width:30%;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;;
    opacity: 0.5; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
}
